#firstSentence {
    /* display:inline; */
    display:inline-block
}

#secondSentence {
    /* display:inline */
    display:inline-block
}

#thirdSentence {
    /* display:inline */
    display:inline-block
}